.idea/
*.pyc
dump.rdb
/*.egg-info
.env
/.tox/
#virtualenv
.Python
/bin
/include
/lib/python*/*

# Ignore easyinstall and setuptools
/lib/python*/site-packages/easy-install.pth
/lib/python*/site-packages/setuptools.pth
/lib/python*/site-packages/setuptools-*
/lib/python*/site-packages/pip-*
